[submodule "Bit_Torrent_Client"]
	path = Bit_Torrent_Client
	url = https://github.com/Danitilahun/Bit_Torrent
[submodule "Proxy_Server"]
	path = Proxy_Server
	url = https://github.com/Danitilahun/Proxy_Server.git
[submodule "Go_Concurrency"]
	path = Go_Concurrency
	url = https://github.com/Danitilahun/Go_Concurrency.git
[submodule "GO_JWT_Authentication"]
	path = GO_JWT_Authentication
	url = https://github.com/Danitilahun/GO_JWT_Authentication.git
[submodule "Go_GraphQL"]
	path = Go_GraphQL
	url = https://github.com/Danitilahun/Go_GraphQL.git
[submodule "LoadBalancer"]
	path = LoadBalancer
	url = https://github.com/Danitilahun/LoadBalancer.git
[submodule "gRPC_Calculator"]
	path = gRPC_Calculator
	url = https://github.com/Danitilahun/gRPC_Calculator.git
[submodule "gRPC-ECHO"]
	path = gRPC-ECHO
	url = https://github.com/Danitilahun/gRPC-ECHO.git
[submodule "OTPVerification-GO"]
	path = OTPVerification-GO
	url = https://github.com/Danitilahun/OTPVerification-GO.git
