[submodule "Bit_Torrent_Client"]
	path = Bit_Torrent_Client
	url = https://github.com/Danitilahun/Bit_Torrent
[submodule "Proxy_Server"]
	path = Proxy_Server
	url = https://github.com/Danitilahun/Proxy_Server.git
[submodule "Go_Concurrency"]
	path = Go_Concurrency
	url = https://github.com/Danitilahun/Go_Concurrency.git
[submodule "GO_JWT_Authentication"]
	path = GO_JWT_Authentication
	url = https://github.com/Danitilahun/GO_JWT_Authentication.git
[submodule "Go_GraphQL"]
	path = Go_GraphQL
	url = https://github.com/Danitilahun/Go_GraphQL.git
[submodule "LoadBalancer"]
	path = LoadBalancer
	url = https://github.com/Danitilahun/LoadBalancer.git
